
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;    
}


html, 
body,button {
    font-family: "Source Sans 3", sans-serif;
    display:grid;
    grid-template-columns:1fr;
    grid-template-areas: 
        "head"
        "content"
        "foot";
    margin:0; /* removes the edges around the browser and the colum */
    padding: 0;/* removes the edges around the browser and the colum */
}

/*for other pages*/
#content{
    grid-area:content;
}

#img_intro, .blog_content, #about_me_content, #blog_header{
    padding: 1em;
}


/* HEADER SECTION STYLING */
#header_section{
    display: flex;
    justify-content: space-between;
    padding: .5em 1em .5em 1em;
    align-items: center;
    background-color: white;
    grid-area:head;
}

#logo{
    width: 150px;
    display: block;
    height: auto;
}

#avatar{
    width: 50%;
    height: 50%;
}

#nav_list li{
    display: inline;
    font-weight: bold;
    margin-right: 1em;
    font-size: 0.8rem;
}

#nav_list li.active a {
    color: green; /* Adjust this to matches your layout's theme color */
    border-bottom: 2px solid green;
    padding-bottom: 2px;
}

#nav_list a:link{
    display: inline;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.8rem;
    color: #030C11;
}


/* 2. Visited link */
#nav_list a:visited {
  color: #030C11;
}

/* 3. Mouse-over link */
#nav_list a:hover {
  color: green;
}

/* HERO SECTION */
#hero{
    padding: 4em 1em 1em 0.5em;
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url(/images/Hero-img.png);
    background-size: cover;
    background-position: bottom; 
    background-repeat: no-repeat;  
    width:100%;
    grid-area:hero;
}

#date{
    color: grey;
    font-weight: normal;
    font-size: 1rem;
    line-height: 0em;
}

#hero_big_txt{
    color: white;
    font-weight: bold;
    font-size: 2.1rem;
    line-height: 1.1em;
}

#hero_sml_txt{
    color: white;
    font-weight: normal;
    font-size: 0.95rem;
    line-height: 1.4em;
}

/*BLOG FEED SECTION*/
#blog_feed, #recent_posts{
    grid-area: feed;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    padding: 1em;
    margin: 0 auto;
    gap:1em;
    align-items: center;

}
    #recent_post_heading{
       grid-column: 1 / -1;
       text-align: center;
    }
.post_thumbnail{
    margin-bottom: 1.3em;
}
.post_content{
    line-height: 0.8em;
}

.post_content p{
    line-height: 1.2em;
}

.post_thumbnail img, .blog_content img{
    width: 100%;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-radius: 0.5em;
}

#view-more-btn{
    grid-column: 1 / -1;
    width: 100%;
    font-size: 1.2em;
    background-color: transparent;
    border: transparent;
    font-weight: bold;
    text-align: center;
    
}
/* FOOTER SECTION */

footer{
    grid-area: foot;
    background-color: #030C11;
    color: white;
    align-items: center;
    text-align: center;
    line-height: 0.4em;
    padding: 1.5em;
}

/*UTILTIES*/
.hidden{
  display: none;
}

.flex{
  display: flex;
}


@media(min-width: 700px) {
    
    body{
        background-color: #f8f8f8;    
    }
    #logo {
    max-width: 100%;
    height: auto;
    }
    
    /* HERO SECTION */
    #hero{
        padding: 13em 1em 1em 1em;
        background-size: cover;
        background-position: center bottom; 
    }
    
    #hero_sml_txt{
        margin-right: 10em;
    }

    
    /* BLOG FEED */
    #blog_feed{
    grid-template-columns:repeat(3,minmax(100px,1fr));
    gap:2em;
    padding: 2em;
    }
    
    #view-more-btn{
    display: inline-block;
    }
    
    /* ABOUT ME SECTION */
    #avatar{
    width: 40%;
    height: auto;
    }
    
    #img_intro{
        display: flex;
        align-items: center;
        gap: 1em;
        padding: 2em;
    }
    #about_me_content, .blog_content{
      padding: 0em 3em 0em 3em;
      gap:2em;
    }
    
    #blog_header{
        padding: 2em 3em 0em 3em;
    }
    

    #img_intro{
        width: 100%;
        height: auto;
    }
    
    #recent_posts{
        padding: 2em;
    }
    
}